.emailList {
  margin: 15px 10px;
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.emailList__body {
  overflow-y: scroll;
  flex: 1;
}

.emailList__settings {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: fit-content;
  color: white;
  z-index: 0;
}

.emailList__settingsLeft {
  display: flex;
}

.emailList__settingsRight {
  display: flex;
}

.emailList__settingsSet {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}

.emailList__sections {
  display: flex;
}
