.header {
  display: grid;
  grid-template-columns: 200px 1fr;
  padding-top: 8px;
  width: 100%;
  padding-left: 10px;
  padding-bottom: 8px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > img {
  object-fit: contain;
  height: 40px;
  margin-left: 5px;
}

.header__rightSection {
  display: grid;
  grid-template-columns: 6fr 2fr;
  justify-content: space-between;
}

.header__middle {
  min-width: 200px;
  max-width: 80%;
}

.header__search {
  display: flex;
  align-items: center;
  background-color: #d6eaf8;
  border-radius: 8px;
  padding: 3px;
  padding-left: 15px;
  padding-right: 10px;
}

.header__search > input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
}

.header__search:focus-within {
  background-color: white;
  transition-duration: 0.15s;
  box-shadow: -0.5px 0.5px 2px 0.5px#888888;
}

.header__right {
  flex: 0.2;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  gap: 5px;
  align-items: center;
}
