.section {
  justify-self: stretch;
  flex-grow: 0.2;
  cursor: pointer;
  color: gray;
}

.section:hover {
  background-color: whitesmoke;
}

.section__body > h3 {
  font-size: 14px;
  font-weight: 500;
  margin-left: 18px;
}

.section--active {
  color: #1565c0;
}

.section__body {
  display: flex;
  padding: 10px;
  padding-right: 20px;
  padding-bottom: 8px;
  align-items: center;
  max-width: 200px;
}

.section__border {
  display: block;
  position: relative;
  left: 5%;
  width: 90% !important;
  width: auto;
  border-bottom: 3px solid #1565c0;
}
