.sidebar {
  width: 100%;
  max-height: 73%;
}

.sidebar__compose {
  margin-top: 15px !important;
  margin-left: 10px !important;
  margin-bottom: 15px !important;
  color: black !important;
  text-transform: capitalize !important;
  padding: 15px !important;
  border-radius: 15px !important;
  background-color: #aed6f1 !important;
}

.sidebar__footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
