.app {
  background-color: #ebf5fb;
  height: 97.7vh;
  display: flex;
  flex-direction: column;
}

.app__body {
  flex: 1;
  background-color: #ebf5fb;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100%;
  height: 89vh;
}
